body {
    background: rgb(214, 211, 211);
}


#title, .subtitle, .post_title {
    color: rgb(21, 21, 26)
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    width: 680px;
    background: #fff;
    padding: 15px;
    border: 3px solid rgb(32, 31, 31);
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin-bottom: 15px;
    border-radius: 10px;
}